@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

input:focus {
  outline: none;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #1A2238;
  --color-light: #FFFFFF;
  --color-accent: #C54126;
  --color-grey: #F2F2F2;
  --color-grey-dark: #888888;
  --color-grey-alt: #AAAAAA;
  --color-grey-light: #D9D9D9;
  --border: 1px solid var(--color-accent);
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 1410px;
  --container-padding-x: 16px;
  --section-padding-y: 60px;
  --button-height: 58px;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(14px, 1.134751773vw, 16px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}
body.fixed {
  overflow: hidden;
}
body .overlay {
  background: var(--color-dark);
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: none;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.pb0 {
  padding-bottom: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.section-title {
  font-size: clamp(24px, 2.5531914894vw, 36px);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-text {
  color: var(--color-accent);
}

.small-text {
  text-transform: none;
}

.btn {
  border: 1px solid var(--color-accent);
  background: var(--color-accent);
  color: #FFFFFF;
  text-align: center;
  padding: 0 40px;
  height: 58px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
}
@media (max-width: 1199px) {
  .btn {
    font-size: 14px;
    line-height: 17.07px;
  }
}

.section__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .section__title {
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

.section__more {
  padding-right: 70px;
}
.section__more a {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--color-accent);
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}
@media (max-width: 1199px) {
  .section__more a {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 0;
  }
}
.section__more a:after {
  width: 100%;
  height: 1px;
  content: "";
  background: var(--color-accent);
  position: absolute;
  bottom: 0;
  left: 0;
}
.section__more a:before {
  content: url('data:image/svg+xml,<svg width="41" height="13" viewBox="0 0 41 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M40.5657 7.06569C40.8781 6.75327 40.8781 6.24673 40.5657 5.93431L35.4745 0.843146C35.1621 0.530726 34.6556 0.530726 34.3431 0.843146C34.0307 1.15557 34.0307 1.6621 34.3431 1.97452L38.8686 6.5L34.3431 11.0255C34.0307 11.3379 34.0307 11.8444 34.3431 12.1569C34.6556 12.4693 35.1621 12.4693 35.4745 12.1569L40.5657 7.06569ZM0 7.3H40V5.7H0V7.3Z" fill="%23C54126"/></svg>');
  position: absolute;
  top: 0;
  right: -60px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .section__more a:hover:before {
    right: -70px;
  }
}
@media (hover: none) {
  .section__more a:active:before {
    right: -70px;
  }
}

.page__title {
  font-size: clamp(24px, 2.5531914894vw, 36px);
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .page__title {
    font-size: 24px;
    line-height: 29.26px;
  }
}

.banner {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 97px;
  color: #FFFFFF;
}
.banner.banner-big {
  height: 615px;
}
@media (max-width: 1199px) {
  .banner {
    height: 460px;
  }
}
.banner .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.banner__inner {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1199px) {
  .banner__inner {
    row-gap: 20px;
    align-items: center;
  }
}
.banner__inner-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .banner__inner-title {
    font-size: 19px;
    line-height: 23.16px;
    text-align: center;
  }
}
.banner__inner-text {
  font-size: 22px;
  line-height: 33px;
}
@media (max-width: 1199px) {
  .banner__inner-text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
}
@media (max-width: 1199px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1199px) {
  .header__logo img {
    height: 45px;
  }
}
.header__menu {
  font-size: 16px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1199px) {
  .header__menu-list {
    gap: 20px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 38px;
  color: #FFFFFF;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header.header-bg {
  position: relative;
  left: auto;
  right: auto;
  background: var(--color-dark);
}
.header__phone {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: #FFFFFF;
}
@media (max-width: 1199px) {
  .header__phone {
    font-size: 18px;
  }
}
.header__search {
  color: #FFF;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 20px;
  height: 16px;
}

.burger::before, .burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
}

.burger::before {
  top: 0;
  box-shadow: 0 7px 0 #fff;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox.active + .burger::before {
  top: 7px;
  transform: rotate(45deg);
  box-shadow: 0 0 0 #fff;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox.active + .burger::after {
  bottom: 7px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.mobile-overlay {
  position: absolute;
  top: 0;
  left: -288px;
  width: 288px;
  background: #FFF;
  border-radius: 0 0 10px 0;
  padding: 30px 55px 30px 30px;
  z-index: 99;
}
.mobile-overlay__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid #CECECE;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.mobile-overlay__item-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
}
.mobile-overlay__phone {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
}
.mobile-overlay .close {
  top: 22px;
  right: 10px;
  position: absolute;
}
.mobile-overlay__form {
  display: flex;
  border-bottom: 1px solid #CECECE;
  padding-bottom: 11px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.mobile-overlay__form input[type=text] {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.85px;
  border: 0;
  height: 18px;
}

.search {
  position: absolute;
  top: -108px;
  left: 0;
  right: 0;
  padding: 30px;
  background: #FFFFFF;
  z-index: 9;
  transition: all 0.3s linear;
}
.search.active {
  top: 0;
}
.search__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;
}
.search__inner form {
  width: 100%;
}
.search__form {
  height: 48px;
}
.search__form input[type=text] {
  border: 1px solid var(--color-grey);
  background: #FFFFFF;
  display: block;
  height: 48px;
  width: 90%;
  padding: 0 15px;
  width: 100%;
}
.search .close {
  cursor: pointer;
}
.search .close svg {
  display: block;
}

.slider {
  padding: 0 !important;
  overflow: hidden;
}
.slider__item {
  padding: 202px 0;
  height: 850px;
}
@media (max-width: 767px) {
  .slider__item {
    height: 520px;
    padding: 148px 0;
  }
}
@media (max-width: 767px) {
  .slider__item-button {
    text-align: center;
  }
}
.slider__item-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  color: #FFFFFF;
  margin-bottom: 70px;
  max-width: 780px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .slider__item-title {
    font-size: 19px;
    line-height: 23.16px;
    text-align: center;
    margin-bottom: 29px;
  }
}

.section {
  padding-top: var(--section-padding-y);
  padding-bottom: var(--section-padding-y);
}
.section__title {
  padding-bottom: 0;
}

.advantages {
  margin-top: -150px;
  z-index: 9;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .advantages {
    margin-top: -135px;
  }
}
.advantages .slick-track {
  display: flex !important;
}
.advantages .slick-slide {
  height: inherit !important;
}
.advantages__list {
  gap: 30px;
  color: var(--color-dark);
  display: flex;
}
@media (max-width: 767px) {
  .advantages__list {
    margin-right: -30px;
    margin-left: -15px;
  }
}
.advantages__item {
  width: calc(25% - 22.5px);
}
@media (max-width: 767px) {
  .advantages__item {
    width: 255px;
    padding: 0 15px;
  }
}
.advantages__item-inner {
  padding: 30px 20px;
  background: var(--color-grey);
  height: 100%;
}
.advantages__item-number {
  font-size: 46px;
  font-weight: 600;
  line-height: 56.07px;
  color: var(--color-accent);
  margin-bottom: 10px;
}
@media (max-width: 1199px) {
  .advantages__item-number {
    font-size: 46px;
    line-height: 56.07px;
  }
}
.advantages__item-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media (max-width: 1199px) {
  .advantages__item-title {
    font-size: 14px;
    line-height: 21px;
  }
}
.advantages__item-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}
@media (max-width: 1199px) {
  .advantages__item-text {
    font-size: 13px;
    line-height: 19.5px;
  }
}

.content {
  clear: both;
  overflow: auto;
}
.content img[align=right] {
  float: right;
  display: block;
  margin-left: 30px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .content img[align=right] {
    float: none;
    max-width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .content:not(.content-grey) ul {
    padding: 40px 16px;
    margin: 0 -15px;
    background: var(--color-grey);
    margin-bottom: 20px;
  }
}
.content ul li {
  position: relative;
  padding-left: 16px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.content ul li:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-accent);
  position: absolute;
  left: 0;
  top: 7px;
}
.content ul ul {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .content ul ul {
    margin-left: -16px;
  }
}
.content ul ul li {
  font-weight: 400;
  color: #8B8B8B;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .content ul ul li {
    font-size: 14px;
    line-height: 21px;
  }
}
.content ul ul li:before {
  content: url('data:image/svg+xml,<svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4L3 6L8 1" stroke="%23C54126" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  width: auto;
  height: auto;
  background: transparent;
  top: 0;
}
.content.content-grey {
  background: var(--color-grey);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 88px;
  margin-bottom: 88px;
  width: 100%;
}
@media (max-width: 767px) {
  .content.content-grey {
    margin-bottom: 30px;
  }
}
.content.content-grey .container > ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
@media (max-width: 767px) {
  .content.content-grey .container > ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}
.content i {
  font-style: normal;
  color: var(--color-accent);
  font-weight: 700;
}
.content .page__title {
  margin-bottom: 30px;
}

.home-text__inner {
  display: flex;
  gap: 125px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .home-text__inner {
    flex-direction: column;
    gap: 20px;
  }
}
.home-text__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .home-text__content {
    order: 2;
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .home-text__content-img {
    order: 1;
  }
}
@media (max-width: 767px) {
  .home-text__content-img img {
    width: 100%;
    height: auto;
  }
}
.home-text__content-info {
  margin-bottom: auto;
}
.home-text__content-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 767px) {
  .home-text__content-info p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 1199px) {
  .home-text__content-button .btn {
    width: 100%;
    justify-content: center;
  }
}

.experience {
  background-color: var(--color-grey);
  padding: 120px 0;
  margin-top: 60px;
}
@media (max-width: 1199px) {
  .experience {
    padding: 62px 0;
  }
}

.tabs-dark .tabs__list-item {
  background: var(--color-grey);
}
.tabs__list {
  margin-bottom: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .tabs__list {
    flex-wrap: nowrap;
    margin-bottom: 40px;
    overflow: auto;
    white-space: nowrap;
  }
}
.tabs__list-item {
  padding: 13px 20px;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
  color: var(--color-grey-dark);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  transition-duration: var(--transition-duration);
}
.tabs__list-item.active {
  background: var(--color-accent);
  color: #fff;
}
@media (hover: hover) {
  .tabs__list-item:hover {
    background: var(--color-accent);
    color: #FFFFFF;
  }
}
@media (hover: none) {
  .tabs__list-item:active {
    background: var(--color-accent);
    color: #FFFFFF;
  }
}
.tabs__elem {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  display: none;
}
.tabs__elem .page__title {
  color: var(--color-accent);
}
.tabs__elem.active {
  display: flex;
}
.tabs__elem-item {
  width: calc(16.6666666667% - 33.3333333333px);
}
@media (max-width: 1199px) {
  .tabs__elem-item {
    width: 134px;
    padding: 0 5px;
  }
}
.tabs__elem-item .partners__logo-item {
  background: #FFFFFF;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E2E2E2;
}
.tabs__elem-item img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 1199px) {
  .tabs__elem-item img {
    max-width: 75%;
  }
}

.category {
  padding-top: 30px;
}
.category__list ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .category__list ul {
    flex-direction: column;
  }
}
.category__list ul li {
  width: calc(50% - 15px);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  color: var(--color-dark);
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (max-width: 1199px) {
  .category__list ul li {
    width: 100%;
  }
}
.category__list ul li::before {
  content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21.25C9.62178 21.25 7.91356 21.2484 6.61358 21.0736C5.33517 20.9018 4.56445 20.5749 3.9948 20.0052L2.93414 21.0659C3.82895 21.9607 4.96897 22.366 6.41371 22.5603C7.83687 22.7516 9.66418 22.75 12 22.75V21.25ZM1.25 12C1.25 14.3358 1.24841 16.1631 1.43975 17.5863C1.63399 19.031 2.03933 20.1711 2.93414 21.0659L3.9948 20.0052C3.42514 19.4355 3.09825 18.6648 2.92637 17.3864C2.75159 16.0864 2.75 14.3782 2.75 12H1.25ZM21.25 12C21.25 14.3782 21.2484 16.0864 21.0736 17.3864C20.9018 18.6648 20.5749 19.4355 20.0052 20.0052L21.0659 21.0659C21.9607 20.1711 22.366 19.031 22.5603 17.5863C22.7516 16.1631 22.75 14.3358 22.75 12H21.25ZM12 22.75C14.3358 22.75 16.1631 22.7516 17.5863 22.5603C19.031 22.366 20.1711 21.9607 21.0659 21.0659L20.0052 20.0052C19.4355 20.5749 18.6648 20.9018 17.3864 21.0736C16.0864 21.2484 14.3782 21.25 12 21.25V22.75ZM12 2.75C14.3782 2.75 16.0864 2.75159 17.3864 2.92637C18.6648 3.09825 19.4355 3.42514 20.0052 3.9948L21.0659 2.93414C20.1711 2.03933 19.031 1.63399 17.5863 1.43975C16.1631 1.24841 14.3358 1.25 12 1.25V2.75ZM22.75 12C22.75 9.66418 22.7516 7.83687 22.5603 6.41371C22.366 4.96897 21.9607 3.82895 21.0659 2.93414L20.0052 3.9948C20.5749 4.56445 20.9018 5.33517 21.0736 6.61358C21.2484 7.91356 21.25 9.62178 21.25 12H22.75ZM12 1.25C9.66418 1.25 7.83687 1.24841 6.41371 1.43975C4.96897 1.63399 3.82895 2.03933 2.93414 2.93414L3.9948 3.9948C4.56445 3.42514 5.33517 3.09825 6.61358 2.92637C7.91356 2.75159 9.62178 2.75 12 2.75V1.25ZM2.75 12C2.75 9.62178 2.75159 7.91356 2.92637 6.61358C3.09825 5.33517 3.42514 4.56445 3.9948 3.9948L2.93414 2.93414C2.03933 3.82895 1.63399 4.96897 1.43975 6.41371C1.24841 7.83687 1.25 9.66418 1.25 12H2.75Z" fill="%23CDCDCD"/></svg>');
  width: 24px;
  height: 24px;
}
.category__list ul li.current-menu-item::before {
  content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22Z" fill="%23C54126"/><path d="M16.0303 8.96967C16.3232 9.26256 16.3232 9.73744 16.0303 10.0303L11.0303 15.0303C10.7374 15.3232 10.2626 15.3232 9.96967 15.0303L7.96967 13.0303C7.67678 12.7374 7.67678 12.2626 7.96967 11.9697C8.26256 11.6768 8.73744 11.6768 9.03033 11.9697L10.5 13.4393L14.9697 8.96967C15.2626 8.67678 15.7374 8.67678 16.0303 8.96967Z" fill="white"/></svg>');
}
@media (hover: hover) {
  .category__list ul li:hover::before {
    content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22Z" fill="%23C54126"/><path d="M16.0303 8.96967C16.3232 9.26256 16.3232 9.73744 16.0303 10.0303L11.0303 15.0303C10.7374 15.3232 10.2626 15.3232 9.96967 15.0303L7.96967 13.0303C7.67678 12.7374 7.67678 12.2626 7.96967 11.9697C8.26256 11.6768 8.73744 11.6768 9.03033 11.9697L10.5 13.4393L14.9697 8.96967C15.2626 8.67678 15.7374 8.67678 16.0303 8.96967Z" fill="white"/></svg>');
  }
}
@media (hover: none) {
  .category__list ul li:active::before {
    content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22Z" fill="%23C54126"/><path d="M16.0303 8.96967C16.3232 9.26256 16.3232 9.73744 16.0303 10.0303L11.0303 15.0303C10.7374 15.3232 10.2626 15.3232 9.96967 15.0303L7.96967 13.0303C7.67678 12.7374 7.67678 12.2626 7.96967 11.9697C8.26256 11.6768 8.73744 11.6768 9.03033 11.9697L10.5 13.4393L14.9697 8.96967C15.2626 8.67678 15.7374 8.67678 16.0303 8.96967Z" fill="white"/></svg>');
  }
}

.catalog {
  display: flex;
  gap: 30px;
  color: var(--color-dark);
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .catalog {
    flex-direction: column;
  }
}
.catalog__item {
  padding: 30px 20px;
  background: var(--color-grey);
  width: calc(25% - 22.5px);
  padding: 46px 40px;
  position: relative;
  height: 434px;
}
@media (max-width: 1199px) {
  .catalog__item {
    width: calc(50% - 15px);
    padding: 36px 30px;
  }
}
@media (max-width: 767px) {
  .catalog__item {
    width: 100%;
    padding: 36px 30px;
  }
}
.catalog__item-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .catalog__item-title {
    font-size: 20px;
    line-height: 24.38px;
  }
}
@media (min-width: 1200px) {
  .catalog__item-title {
    font-size: 20px;
    line-height: 24.38px;
  }
}
.catalog__item-title a {
  position: relative;
}
.catalog__item-title a::after {
  content: url('data:image/svg+xml,<svg width="41" height="13" viewBox="0 0 41 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M40.5657 7.06569C40.8781 6.75327 40.8781 6.24673 40.5657 5.93431L35.4745 0.843146C35.1621 0.530726 34.6556 0.530726 34.3431 0.843146C34.0307 1.15557 34.0307 1.6621 34.3431 1.97452L38.8686 6.5L34.3431 11.0255C34.0307 11.3379 34.0307 11.8444 34.3431 12.1569C34.6556 12.4693 35.1621 12.4693 35.4745 12.1569L40.5657 7.06569ZM0 7.3H40V5.7H0V7.3Z" fill="%23C54126"/></svg>');
  transition-duration: var(--transition-duration);
  margin-left: 10px;
}
@media (hover: hover) {
  .catalog__item-title a:hover::after {
    margin-left: 20px;
  }
}
@media (hover: none) {
  .catalog__item-title a:active::after {
    margin-left: 20px;
  }
}
.catalog__item img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.manufacture {
  padding-top: 120px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .manufacture {
    padding-top: 60px;
  }
}
.manufacture__inner {
  position: relative;
}
.manufacture__inner .page__title {
  position: absolute;
  top: 0;
  left: 0;
}
.manufacture__slider {
  margin: 0 -15px;
}
.manufacture__item {
  padding: 0 15px;
}
.manufacture__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
@media (max-width: 1199px) {
  .manufacture__inner {
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .manufacture__inner img {
    order: 1;
    max-width: 100%;
    height: auto;
  }
}
.manufacture__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1199px) {
  .manufacture__info {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 1199px) {
  .manufacture__info {
    order: 2;
  }
}
.manufacture__info-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
}
@media (max-width: 1199px) {
  .manufacture__info-title {
    font-size: 18px;
    line-height: 21.94px;
  }
}
@media (max-width: 1199px) {
  .manufacture .manufacture-gallery {
    margin-right: -30px;
    margin-left: -10px;
  }
}
.manufacture .manufacture-gallery__list-item {
  width: 240px;
  aspect-ratio: 1/1;
  overflow: hidden;
  padding: 0 10px;
}
.manufacture .manufacture-gallery__list-item img {
  -o-object-fit: cover;
     object-fit: cover;
}
.manufacture-about .slider-manufacture-arrows {
  position: absolute;
  bottom: 0;
  left: 15px;
}
@media (max-width: 1199px) {
  .manufacture-about .slider-manufacture-arrows {
    position: relative;
    bottom: auto;
    left: auto;
  }
}
.manufacture-about .container {
  position: relative;
}
.manufacture-about .section__title {
  position: absolute;
  top: 0;
  left: 15px;
}
@media (max-width: 1199px) {
  .manufacture-about .section__title {
    position: relative;
    top: auto;
    left: auto;
  }
}

.slick-dots {
  position: relative;
  bottom: auto;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 33px;
  display: flex;
  gap: 4px;
}
.slick-dots li {
  border: 1px solid transparent;
  padding: 4px;
  border-radius: 50%;
  margin: 0;
}
.slick-dots li button {
  background: #D9D9D9;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slick-dots li button::before {
  display: none;
}
.slick-dots li.slick-active {
  border: 1px solid var(--color-grey);
}
.slick-dots li.slick-active button {
  background: var(--color-accent);
}

.standart .slick-dots li button {
  background: #fff;
}
.standart .slick-dots li.slick-active {
  border: 1px solid #fff;
}

.slider-arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}
.slider-arrows .slick-arrow {
  display: block;
  background: #AAAAAA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  min-width: 56px;
  height: 56px;
  transform: none;
}
.slider-arrows .slick-arrow:before {
  display: none;
}
@media (hover: hover) {
  .slider-arrows .slick-arrow:hover {
    background: var(--color-accent);
  }
}
@media (hover: none) {
  .slider-arrows .slick-arrow:active {
    background: var(--color-accent);
  }
}
.slider-arrows .slick-prev {
  order: 1;
}
.slider-arrows .slick-dots {
  order: 2;
  margin-top: 0;
  width: auto;
}
.slider-arrows .slick-next {
  order: 3;
}

.geo {
  overflow: hidden;
}
.geo__wrapper {
  width: 1410px;
  position: relative;
}
.geo__inner {
  position: relative;
  margin-top: 93px;
  overflow-x: scroll;
  margin: 0 -15px;
}
.geo__inner .map-point {
  position: absolute;
  cursor: pointer;
}
.geo__inner .map-point__01 {
  left: 69px;
  top: 128px;
}
.geo__inner .map-point__02 {
  left: 339px;
  top: 110px;
}
.geo__inner .map-point__03 {
  left: 212px;
  top: 196px;
}
.geo__inner .map-point__04 {
  left: 386px;
  top: 217px;
}
.geo__inner .map-point__05 {
  right: 236px;
  top: 132px;
}
.geo__inner .map-point__06 {
  right: 122px;
  top: 304px;
}
.geo__inner .map-point__07 {
  right: 242px;
  top: 249px;
}
.geo__inner .map-point__08 {
  right: 414px;
  top: 139px;
}
.geo__inner .map-point__09 {
  right: 464px;
  top: 136px;
}
.geo__inner .map-point__10 {
  right: 484px;
  top: 92px;
}
.geo__inner .map-point__11 {
  right: 521px;
  top: 70px;
}
.geo__inner .map-point__12 {
  right: 541px;
  top: 132px;
}
.geo__inner .map-point__13 {
  right: 645px;
  top: 271px;
}
.geo__inner .map-point__content {
  position: absolute;
  bottom: 50px;
  width: 330px;
  background: #FFFFFF;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1019607843);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  z-index: 9;
  display: none;
}
.geo__inner .map-point__content-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  color: var(--color-accent);
}
.geo__inner .map-point__content-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.geo__inner .map-point__content-year {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
}
@media (min-width: 1200px) {
  .geo__inner .map-point:hover .map-point__content {
    display: block;
  }
}

.about__inner {
  display: flex;
  gap: 60px;
  flex-direction: column;
}
.about__inner .about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.about__inner .about__list .about__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(50% - 40px);
}
.about__inner .about__list .about__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 1199px) {
  .about__inner .about__list .about__item-title {
    font-size: 18px;
    line-height: 21.94px;
  }
}
.about__inner .about__list .about__item-title svg path {
  fill: revert-layer;
}
.about__inner .about__list .about__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1199px) {
  .about__inner .about__list .about__item-text {
    font-size: 14px;
    line-height: 21px;
  }
}
.about__inner .advantages {
  margin-top: 0;
}
@media (max-width: 1199px) {
  .about__inner .advantages {
    margin-right: -20px;
  }
}

.history {
  overflow: hidden;
}
.history__item {
  width: 450px;
  padding: 0 20px;
}
@media (max-width: 1199px) {
  .history__item {
    width: 268px;
    padding: 0 10px;
  }
}
.history__item img {
  width: 100%;
  height: auto;
}
.history__inner {
  background: var(--color-grey);
  height: 100%;
}
.history__slider {
  margin-right: calc(640px - 50vw);
  padding-right: calc(50vw - 640px);
  margin-left: -20px;
}
@media (max-width: 1199px) {
  .history__slider {
    margin-left: -10px;
    margin-right: -20px;
    padding-right: 0;
  }
}
.history__slider .slick-list.draggable {
  padding-left: 0 !important;
  margin-right: calc(640px - 50vw);
  padding-right: 10vw !important;
}
@media (max-width: 1199px) {
  .history__slider .slick-list.draggable {
    margin-right: 0;
    padding-right: 0;
  }
}
.history__slider .slick-track {
  display: flex !important;
}
.history__slider .slick-slide {
  height: inherit !important;
}
.history__info {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 40px 28px 40px 95px;
}
@media (max-width: 1199px) {
  .history__info {
    padding: 20px;
    font-size: 14px;
    line-height: 21px;
  }
}
.history__info-number {
  font-size: 64px;
  font-weight: 800;
  line-height: 78.02px;
  color: var(--color-grey);
  text-shadow: -1px 0 var(--color-accent), 0 1px var(--color-accent), 1px 0 var(--color-accent), 0 -1px var(--color-accent);
  rotate: -90deg;
  position: absolute;
  top: 85px;
  left: -25px;
}
@media (max-width: 1199px) {
  .history__info-number {
    rotate: none;
    position: relative;
    top: auto;
    left: auto;
    font-size: 44px;
    font-weight: 800;
    line-height: 53.64px;
  }
}

.team {
  overflow: hidden;
}
.team__list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 60px;
  flex-wrap: wrap;
}
.team__info {
  background: var(--color-grey);
}
@media (max-width: 1199px) {
  .team__info {
    height: 100%;
  }
}
.team__item {
  text-align: center;
  width: calc(33.3333333333% - 20px);
}
@media (max-width: 1199px) {
  .team__item {
    width: 268px;
  }
}
.team__item img {
  max-width: 100%;
  height: auto;
  display: block;
}
.team__item:first-child {
  width: 100%;
  background: transparent;
}
@media (max-width: 1199px) {
  .team__item:first-child {
    width: 268px;
  }
}
.team__item:first-child .team__info {
  width: calc(33.3333333333% - 20px);
  margin-inline: auto;
}
@media (max-width: 1199px) {
  .team__item:first-child .team__info {
    width: 100%;
  }
}
.team__item-name {
  font-size: 30.97px;
  font-weight: 700;
  line-height: 37.75px;
  margin-bottom: 12px;
  padding-top: 30px;
}
@media (max-width: 1199px) {
  .team__item-name {
    font-size: 20px;
    line-height: 24.38px;
  }
}
.team__item-post {
  font-size: 15.48px;
  font-weight: 400;
  line-height: 23.23px;
  color: var(--color-accent);
  padding-bottom: 30px;
}
@media (max-width: 1199px) {
  .team__item-post {
    font-size: 12px;
    line-height: 18px;
  }
}
.team .slick-track {
  display: flex !important;
}
.team .slick-slide {
  height: inherit !important;
}

.doc__list {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
  row-gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .doc__list {
    flex-direction: column;
    gap: 20px;
  }
}
.doc__item {
  color: var(--color-accent);
  display: flex;
  gap: 18px;
  align-items: center;
  width: calc(50% - 40px);
}
@media (max-width: 1199px) {
  .doc__item {
    width: 100%;
  }
}
.doc__item svg {
  min-width: 48px;
}
.doc__item a {
  color: var(--color-dark);
}
@media (hover: hover) {
  .doc__item a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .doc__item a:active {
    color: var(--color-accent);
  }
}

.reviews__slider {
  margin-left: -20px;
}
@media (max-width: 1199px) {
  .reviews__slider {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.reviews__slider .slick-track {
  display: flex !important;
}
.reviews__slider .slick-slide {
  height: inherit !important;
}
.reviews__inner {
  background: var(--color-grey);
  padding: 50px 30px;
}
@media (max-width: 1199px) {
  .reviews__inner {
    padding: 20px;
  }
}
.reviews__item {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.reviews__item-top {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  gap: 20px;
  margin-bottom: 20px;
}
.reviews__item-img {
  min-width: 72px;
  height: 72px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__item-img img {
  width: 70%;
}
.reviews__item .section__more {
  margin-top: 40px;
}
.reviews .slider-arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}
.reviews .slick-arrow {
  display: block;
  background: #AAAAAA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  min-width: 56px;
  height: 56px;
  transform: none;
}
.reviews .slick-arrow:before {
  display: none;
}
@media (hover: hover) {
  .reviews .slick-arrow:hover {
    background: var(--color-accent);
  }
}
@media (hover: none) {
  .reviews .slick-arrow:active {
    background: var(--color-accent);
  }
}
.reviews .slick-prev {
  order: 1;
}
.reviews .slick-dots {
  order: 2;
  margin-top: 0;
  width: auto;
}
.reviews .slick-next {
  order: 3;
}/*# sourceMappingURL=styles.css.map */